---
layout: default
navPage: docs
navSection: Usage
heading: Form Builder
prev: Benefits
prevLink: benefits/
next: Quick-start tutorials / help
nextLink: usage/tutorials/
---

{% include open_section.html nav='nav.html' selected='usage' %}

<p>
  This section of the documention explains everything you need to know about using the
  Form Builder module. For customizing the Template Sets, see the following
  <a href="/template_sets/">Template Sets section</a>.
</p>

<ul>
  <li><a href="/tutorials/">Quick-start tutorials</a></li>
  <li><a href="/interface/">The Interface</a>
    <ul>
      <li><a href="/interface/add_form_page/">The Add Form page</a></li>
      <li><a href="/interface/publish_tab/">The new Edit Form » Publish tab</a></li>
      <li><a href="/interface/form_builder_window/">The Form Builder window</a></li>
      <li><a href="/interface/module_pages/">The module pages</a>
        <ul>
          <li><a href="/interface/module_pages/template_set_pages/">Template Set Management pages</a></li>
          <li><a href="/interface/module_pages/settings/">Settings</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="/template_sets/">Template Sets</a>
    <ul>
      <li><a href="/template_sets/default_template_sets/">The default Template Sets</a></li>
    </ul>
  </li>
  <li><a href="/default_form_field_values/">Default form field values</a></li>
  <li><a href="/common_tasks/">Common Tasks</a>
    <ul>
      <li><a href="/common_tasks/form_offline/">Taking a form offline</a></li>
      <li><a href="/common_tasks/window_size/">Changing the default Form Builder window size</a></li>
      <li><a href="/common_tasks/tips_captcha/">Adding a CAPTCHA</a></li>
      <li><a href="/common_tasks/tips_targeting_specific_form_page/">Adding something to a specific form page</a></li>
      <li><a href="/common_tasks/adding_default_values/">Adding default values</a></li>
    </ul>
  </li>
  <li><a href="/common_tasks/validation/">Field validation</a></li>
</ul>


{% include close_section.html %}
