<nav id="mainDocNav">
  <a href="{{site.baseurl}}/">Documentation</a>

  {% if site.standalone == false %}
    <a href="{{site.module_list_url}}">Modules</a> &raquo;
  {% endif %}

  {% if page.navSection %}
    &raquo;

    <a href="{{site.module_list_url}}/{{site.repo}}/">{{site.module_name}}</a> &raquo;

    {% if page.navSectionLink %}
      <a href="{{site.baseurl}}/{{page.navSectionLink}}">{{page.navSection}}</a>
      &raquo;

      {% if page.subnavSectionLink %}
        <a href="{{site.baseurl}}/{{page.subnavSectionLink}}">{{page.subnavSection}}</a>
        &raquo;
        {{page.heading}}
      {% else %}
        {{page.subnavSection}}
      {% endif %}

    {% else %}
      {{page.navSection}}
    {% endif %}
  {% else %}
    {{site.module_name}}
  {% endif %}

</nav>
