<h4 {% if include.selected == 'introduction' %}class="selected"{% endif %}>
	<a href="{{site.baseurl}}/module_development/introduction/">Module Development</a>
</h4>

<ul>
	<li>
		<div {% if include.selected == 'anatomy' %}class="selected"{% endif %}>
			<a href="{{site.baseurl}}/module_development/module_anatomy/">Anatomy of a Module</a>
		</div>

		<ul>
			<li {% if include.selected == 'file_module' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/file_module/">module.php</a>
			</li>
			<li {% if include.selected == 'file_index' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/file_index/">index.php</a>
			</li>
			<li {% if include.selected == 'file_index_tpl' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/file_index_tpl/">index.tpl</a>
			</li>
			<li {% if include.selected == 'file_lang' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/file_lang/">lang/[lang file].php</a>
			</li>
			<li {% if include.selected == 'file_library' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/file_library/">library.php</a>
			</li>
			<li {% if include.selected == 'folder_smarty' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/folder_smarty/">smarty/</a>
			</li>
		</ul>
	</li>
	<li>
		<div {% if include.selected == 'special_functions' %}class="selected"{% endif %}>
			<a href="{{site.baseurl}}/module_development/special_functions/">Special Functions</a>
		</div>

		<ul>
			<li {% if include.selected == 'installation_function' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/installation_function/">Installation Function</a>
			</li>
			<li {% if include.selected == 'uninstallation_function' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/uninstallation_function/">Uninstallation Function</a>
			</li>
			<li {% if include.selected == 'upgrade_function' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/upgrade_function/">Upgrade Function</a>
			</li>
		</ul>
	</li>
</ul>
